$mainBlack: #000;
$mainWhite: #FFF;
$mainTransition: all 0.2s linear;

$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

$Main-Blue-Dark1: #181E26;
$Main-Blue-Dark2: #1D2F40;
$Main-Blue-Dark3: #325A73;
$Main-Blue-Clear1: #468BA6;
$Main-Blue-Clear2: #66CAF2;
$Main-Blue-Gray: #C1D0D9;


$Light-Header-Box-Shadow: 1px 1px 5px whitesmoke;
$Light-Header-Text-Shadow: white 1px 1px 10px;
$mainSpacing1: 2px;



$GreenDark: #547326;
$GreenLight1: #98D90B;
$GreenLight2: #C1D90B;
$GreenLight3: #96A61F;
$GreenDark2: #736522;

$ErrorColor: rgba(255, 100, 100, 0.85);


$PageMaxWidth: 100%;



// Font-face Mixin

@mixin fontFace($font-family,$file-path) {
    
    @font-face {
        
        font: {
            family: $font-family;
            weight: normal;
            style: normal;
        }    
        //Modern Browsers
        src: url('#{$file-path}.ttf') format('truetype'),
            url('#{$file-path}.woff') format('woff');
    }
        
}

// Pixels to Rems Mixin

@mixin fontSize($sizeValue: 1.6) {  // 1rem = 10px , 1.6rem = 16px
    
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
    
}


//Desktop-first Media Query Mixin
@mixin forSmallScreens($media) {
    
    @media (max-width: $media/16+em) { @content; }
}

 

  

