@import '../../globalStyles/globalVariables.scss';

#masthead {

    width: 100%;

    background-color: black; //$Main-Blue-Dark1;
    
    color: white;
    
    background-image: url(../../images/HEADER_BACK.jpg);

    background-position: center center;

    height: 100vh;

    min-height: 100vh;
    
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-bottom: 1px solid $Main-Blue-Clear1;

    //box-shadow: -2px 1px 10px $Main-Blue-Clear1 inset;

    display: flex;

    justify-content: center;

    align-items: center;

    

}

#mobil-menu-icon {

    position: absolute;
    left: 20px;
    top: 20px;
    display: none;
    color: $mainWhite;    
    background-color: $Main-Blue-Clear1;
    border-radius: 5px;

    box-shadow: 0px 0px 5px white;;

    &:active {
        
        border-radius: 5px;       
        box-shadow: none;

    }

    @media (max-width: 600px) {

        display: inline-block;
        padding: 10px;        
        @include fontSize(2.2); 
        z-index: 1000;
     
    }

    & span {

        margin-left: 10px;
        font-family: Rubik, sans-serif, Verdana, Geneva, Tahoma;
    }

    

}



