@import '../../globalStyles/globalVariables.scss';

#masthead {

    width: 100%;
    background-color: black; //$Main-Blue-Dark1;
    
    color: white;
    //background-image: url(../../images/BACK2.jpeg);

    height: 100vh;

    min-height: 100vh;

    position: relative;  
    
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-bottom: 1px solid $Main-Blue-Clear1;

    //box-shadow: -2px 1px 10px $Main-Blue-Clear1 inset;

}

#mobil-menu-icon {

    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
    color: $Main-Blue-Gray;
    

    &:active {

        border: $Main-Blue-Clear1 solid 1px;
        border-radius: 5px;       


    }

    @media (max-width: 600px) {

        display: inline-block;
        padding: 10px;        
        @include fontSize(2.2); 
        z-index: 1000;
     
    }

    & span {

        margin-left: 10px;
        font-family: Rubik, sans-serif, Verdana, Geneva, Tahoma;
    }

    

}

@keyframes figuresAnimation {

    from {

        transform: translateY(0) rotate(0deg) translateX(0);
        opacity: 1;
    }

    40% {
        transform: translateY(-300) rotate(45deg) translateX(-100%);
        opacity: 1;
    }

    65% {
        transform: translateY(-500) rotate(-45deg) translateX(0);
        opacity: 1;
    }

    to {
        transform: translateY(-800px) rotate(180deg) translateX(200%);
        opacity: 0;
    }



}

#header-animation-area {

   width: 100%;

   position: absolute;

   height: 100%;
   
   top: 0;
   left: 0;

}

#header-box-animation-area {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style-type: none;

    li {
        position: absolute;
        bottom: -200px;
        display: block;
        width: 25px;
        height: 25px;
        background-color: rgba($Main-Blue-Gray,.1);

        animation-name: figuresAnimation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

    }

    & li:nth-child(1) {

        left: 86%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
        animation-duration: 8s;

    }

    & li:nth-child(2) {

        left: 12%;
        width: 60px;
        height: 60px;
        animation-delay: 1.5s;
        animation-duration: 10s;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    & li:nth-child(3) {

        left: 70%;
        width: 75px;
        height: 75px;
        animation-delay: 5.5s;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        animation-duration: 12s;
    }

    & li:nth-child(4) {

        left: 40%;
        width: 70px;
        height: 70px;
        animation-delay: 4.5s;
        animation-duration: 15s;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    & li:nth-child(5) {

        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;        
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        animation-duration: 13s;
    }

    & li:nth-child(6) {

        left: 15%;
        width: 65px;
        height: 65px;
        animation-delay: 3.5s;        
        clip-path: ellipse(25% 40% at 50% 50%);
        animation-duration: 6s;
    }

    & li:nth-child(7) {

        left: 25%;
        width: 70px;
        height: 70px;
        animation-delay: 3.8s;
        animation-duration: 25s;       

    }

    & li:nth-child(8) {

        left: 75%;
        width: 60px;
        height: 60px;
        animation-delay: 2.4s;            
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        animation-duration: 18s;
    }

    & li:nth-child(9) {

        left: 90%;
        width: 60px;
        height: 60px;
        animation-delay: 1.7s;  
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);   
        animation-duration: 14s;               
    }

    & li:nth-child(10) {

        left: 60%;
        width: 50px;
        height: 50px;
        animation-delay: 1s;  
        clip-path: ellipse(25% 40% at 50% 50%); 
        animation-duration: 23s;               
    }

    & li:nth-child(11) {

        left: 30%;
        width: 40px;
        height: 40px;
        animation-delay: 4.2s;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        animation-duration: 17s;

    }

    & li:nth-child(12) {

        left: 40%;
        width: 55px;
        height: 55px;
        animation-delay: 2.8s;
        animation-duration: 15s;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

    }



}




