@import '../../globalStyles/globalVariables.scss';

#masthead {

    width: 100%;
    background-color: black; //$Main-Blue-Dark1;
    
    color: white;
    //background-image: url(../../images/BACK2.jpeg);

    height: 100vh;

   

}


